<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Welcome!{% endblock %}</title>
	<link rel="stylesheet" href="{{ asset('build/app.css') }}">

</head>
<body style="background: #f1f1f0;">

<div class="top_row">

	<div class="row" style="text-align: left;">
		<div class="col-md-4">
			{% if is_granted('ROLE_ADMIN') %}
				<a class="btn btn-primary btn-xs" href="{{ path('user_index') }}">user list</a>
				<a class="btn btn-primary btn-xs" href="{{ path('user_new') }}">add user</a>
			{% endif %}
		</div>
		<div class="col-md-4">

		</div>
		<div class="col-md-4 ">
			<div class="session_info">

				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

					Logged as <span
						class="logeduser {% if is_granted('ROLE_PREVIOUS_ADMIN') %}impersonate{% endif %}">{{ app.user.username }}</span>
					<a
							class="btn-default btn-primary" href="{{ path('self_user_change_pass') }}">change password</a>
					{% if is_granted('ROLE_ADMIN') %}<span class="badge">admin</span>{% endif %}
					<a
							class="dropdown-item" href="{{ path('logout') }}" title="Logout">
						<svg class="octicon octicon-sign-in" viewBox="0 0 14 16" version="1.1"
							 width="14" height="16" aria-hidden="true">
							<path fill-rule="evenodd"
								  d="M7 6.75V12h4V8h1v4c0 .55-.45 1-1 1H7v3l-5.45-2.72c-.33-.17-.55-.52-.55-.91V1c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v3h-1V1H3l4 2v2.25L10 3v2h4v2h-4v2L7 6.75z"></path>
						</svg>
					</a>

				{% else %}
					Not logged in. <a
						class="dropdown-item" href="{{ path('admin_login') }}">log in</a>
				{% endif %}
			</div>
		</div>
	</div>


</div>
<div class="main_content">
	{% block body %}
	{% endblock %}
</div>
{% block javascripts %}
	<script src="{{ asset('build/manifest.js') }}"></script>
	<script src="{{ asset('build/vendor.js') }}"></script>
	<script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
</body>
</html>
